.navbar {
  background: var(--secondary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  gap: 20px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links.activated {
  border-bottom: 4px solid white;
  transition: all 0.2s ease-out;
}
