.navbar {
  background: rgb(25, 59, 87);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links.activated {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
