/* Item List */

.item-list {
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  height: 150px;
  padding: 20px 50px;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  text-transform: capitalize;
}

.list-content {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

/* New Item Button */

.new-item-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 5pt;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary);
}

/* Pagination settings */

.query-info-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary);
  color: white;
  flex-shrink: 0;
}

.query-info-text {
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
}

.query-info-container select {
  margin: 5pt;
}

.query-info-container button {
  color: white;
  margin: 0 10px;
}

/* Item Styling */

.item-container {
  position: relative;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid lightgrey;
}

.item-container:hover {
  cursor: pointer;
  background-color: var(--primary-transparent);
}

.item-actions-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 20px;
}

/* Filters */

.filter-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 25px;
}