.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing, .about-container, .service-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px; 
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary);
  color: white;
  text-align: center;
}