.user-container {
    position: relative;
    padding: 20px;
    padding-right: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;
}

.owns-racket {
    list-style-type: circle;
    list-style-position: inside;
}

.user-order {
    list-style-type: circle;
    list-style-position: inside;
}