.store-dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px; 
  width: 1000px;
  border: 5px solid black;
  overflow: hidden;
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
  cursor: pointer;
  font-size: 1em;
}

.tab-button:hover {
  background-color: grey;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.tab-button.active {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary);
}

.tab-header {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 2px black;
  flex-shrink: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 600px; 
  width: 1000px;
  border: 5px solid black;
  overflow: hidden;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

.filter-header {
  width: 100%;
  display: flex;
  height: 50px;
  border-top: 5px solid black;
  background: var(--primary);
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.content-box {
  flex: 1;
  overflow-y: auto; 
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.query-info-container {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary);
  padding: 10px;
  color: white;
  flex-shrink: 0;
}

#query-info {
  padding: 0;
}