.store-dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 1em;
}

.tab-button:hover {
  background-color: grey;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.tab-button.active {
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary);
}

.tab-header {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  flex-shrink: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px auto;
  grid-gap: 5px;
  height: 600px;
  width: 1000px;
  background-color: black;
  border: 5px solid black;
  overflow: hidden;
}

.filter-content {
  background-color: white;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

.filter-header {
  width: 100%;
  display: flex;
  height: 50px;
  background: var(--primary);
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto; 
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.tab-content {
  padding: 20px;
}

.query-info-container {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary);
  padding: 10px;
  color: white;
  flex-shrink: 0;
}

.arrow-btn {
  color: white;
  border: solid 1px white;
  border-radius: 3px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}