.dashboard-container {
    display: flex;
    flex-direction: column;;
    justify-content: flex-start;
    gap: 50px;
    height: 400px; 
    width: 800px;
    overflow-y: auto; 
    padding-right: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    border: 5px solid #000000;
    border-radius: 16px;
}

.tab-button {
  padding: 10px 20px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
  cursor: pointer;
}

.tab-button.active {
  font-weight: bold;
  border: 2px solid #5589a1;
  color: #ffffff;
  background-color: #5589a1;
}

.tab-header {
    position: sticky;
    top: 0;
    background-color: #1a1a1a; 
    z-index: 10;
}

#query-info-container {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: black;
  width: 800px;
  height: 60px;
}

#query-info {
  padding: 0;
}