.order-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1em;
}

.order-name {
    margin: 0 5%;
    padding: 0;
}

.order-racket {
    margin: auto
}


.order-icon {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5em;
}

.order-price {
    margin: 0 5%;
}

.paid-status-box h4 {
    margin: 0;
    padding: 0;
}

.paid-status-box p {
    margin: 0;
    padding: 0;
}