.order-header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    width: 100%;
}

.order-complete-status {
    text-align: right;
}

.job-details-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.paid-complete-container {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 100%;
    gap: 10px;
}

.paid-btn {
    background: none;
    border: none;
    line-height: 1;
    color: var(--secondary);
}

.paid-btn:hover {
    text-decoration: underline;
}

.paid-btn--paid {
    color: var(--primary);
}

.paid-btn:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.complete-btn {
    line-height: 1;
}

/* *********************************************
** Order Page **********************************
********************************************** */

.order-page {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

.order-header {
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 5px solid;
    border-radius: 10pt;
    border-color: rgb(0, 0, 0, 0.9);
    background-color: rgb(0, 0, 0, 0.2);
    margin: 15pt;
    padding: 20pt;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 700;
}

.order-header div {
    margin: 15pt;
}

.order-header--complete {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.2);;
}

.order-header--late {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.2);;
}

.order-details {
    display: flex;
    flex-direction: column;
    margin: 25pt;
}

.order-field {
    margin: 5pt;
}

.order-field label {
    margin-right: 5pt;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.order-field span {
    font-size: large;
}

.order-field button {
    border-radius: 5pt;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin: 5pt;
    background-color: var(--primary);
}