.order-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.order-container:hover {
    background-color: lightgrey;
}

.order-container h3 {
    grid-row: 1 /span 2;
    align-self: center;
    margin: 0;
    padding: 0;
}

.order-container p {
    align-self: right;
    margin: 0;
}

.order-date--late {
    background-color: red;
    border-radius: 0.25em;
}

.order-icon {
    width: 2em;
}