.item-page {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.item-page h1 {
    margin: 2% 4%;
}

.item-page h3 {
    margin: 0 4%;
}

.view-item-header {
    position: sticky;
    top: 0;
    background-color: white;
    /* overflow: hidden; */
    
    padding: 0 5%;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgrey;
}

.user-link {
    color: var(--primary);
}

.user-link:hover {
    color: var(--primary-transparent);
    cursor: pointer;
    border-bottom: 2px solid var(--primary-transparent);
}

.status {
    position: absolute;
    left: 50%;
    padding: 10px;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: large;
}
.status-complete { background: green; }
.status-late     { background: red; }
.status-to-do    { background: blue; }

.back-btn {
    margin: 10px;
    font-size: x-large;
}

.complete-btn {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    width: 17.5%;
}

.view-item-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    padding: 40px 0px;
}

.view-item-section-top {
    width: fit-content;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.view-item-section-bottom {
    flex-direction: column;
    min-width: 600px;
    width: fit-content;
    border: 1px solid lightgrey;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.order-info-section {
    font-size: large;
    z-index: -1;
}

.order-info-section strong {
    margin-right: 10px;
}

.order-info-section span {
    color: var(--primary);
}

.order-info-section span:hover {
    color: var(--primary-transparent);
    cursor: pointer;
    border-bottom: 2px solid var(--primary-transparent);
}

.due-date-trigger {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 2px 4px;
}

.stringing-section {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 0;
}

.stringing-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.stringing-details {
    margin-right: 25px;
}

.item-actions {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    padding: 5pt 10pt;
}

.action-btn {
    background-color: var(--primary);
    border-radius: 5pt;
    margin: 5pt;
    padding: 5pt;
}

.action-btn:hover {
    background-color: var(--primary-transparent);
}

#edit-racket-btn {
    margin: 0 20px 0 0;
}

#edit-stringing-btn {
    margin: 0;
}