.item-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.view-item-header {
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15pt;
    padding: 20pt;
}

.view-item-header div {
    margin: 15pt;
}

/* .string-directions {
    display: flex;
    flex-direction: column;
} */

.item-actions {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    padding: 5pt 10pt;
}

.action-btn {
    background-color: var(--primary);
    border-radius: 5pt;
    margin: 5pt;
    padding: 5pt;
}

.action-btn:hover {
    background-color: var(--primary-transparent);
}