.page-content {
  width: 100%;
  display: block;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;

  background-image: 
    linear-gradient(rgba(90, 90, 90, 0.6), var(--secondary-transparent)),
    url('./assets/machine-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing h1 {
  color: white;
  font-size: 70px;
}

.submit-btn {
  color: white;
  grid-column: 1 / span 2;
}

/* About Section */
.about-section {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: #f5f6fa;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.about-title {
  display: flex; 
  align-items: center;
  justify-content: center;

  width: 250px;
  min-width: 250px;
  height: 80px;

  padding: 15px;
  text-align: center;
  color: white;
  background-color: var(--primary);
  border-radius: 12px;
}

.about-title h2 {
  margin: 0;
}

.about-text p {
  line-height: 1.6;
  margin: 0;
}


/* Professional Experience Section */
.experience {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: white;
}

.experience-item {
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.experience-item::before {
  -webkit-mask-image: linear-gradient(90deg, #000000 0%, #00000000 100%);
  mask-image: linear-gradient(90deg, #000000 0%, #000000 60%, #00000000 100%);

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  content: "";
  position: absolute;
  top: 50%;
  right: 100px;
  width: 200px;
  height: 200px;

  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}

.bu-item::before {
  background-image: url('../assets/bu-icon.svg');
}

.kempton-item::before {
  background-image: url('../assets/kempton-pro-shop-icon.jpg');
}

.ctc-item::before {
  background-image: url('../assets/ctc-icon.png');
  width: 300px;
}

.experience-item:last-child {
  margin-bottom: 0;
}

.experience-date {
  width: 200px;
}

.experience-content {
  flex: 1;
  padding-left: 40px;
}

.experience-content h3 {
  margin-bottom: 5px;
}

.experience-content h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.responsibility-list {
  padding-left: 20px;
  list-style-type: disc;
}

/* .responsibility-item {
  list-style-type: disc;
} */