.order-container {
    position: relative;
    padding-bottom: 10px;
    padding-right: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;
}

.order-header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    width: 100%;
}

/* .order-title {
    padding-right: 30px;
} */

.order-complete-status {
    text-align: right;
}

.job-details-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.paid-complete-container {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 100%;
    gap: 10px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    line-height: 1;
}

.paid-btn {
    background: none;
    border: none;
    line-height: 1;
    color: var(--secondary);
}

.paid-btn:hover {
    text-decoration: underline;
}

.paid-btn--paid {
    color: var(--primary);
}

.paid-btn:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.complete-btn {
    line-height: 1;
}
