footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary);
  color: white;
  text-align: center;
}

.footer {
  display: flex;
  flex: row;
}

.contact {
  display: flex;
  flex-direction: column;
}

.quick-links {
  list-style: none;
  display: column;
  text-align: left;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.quick-link-item a {
  text-decoration: none;
  color: white; 
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.quick-link-item a:hover {
  color: var(--primary);
}

.quick-link-item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

.quick-link-item a:hover::after {
  width: 100%;
}